In [1]:
import pandas as pd

file_path = '../datasource/user.csv'

In [2]:
df = pd.read_csv(file_path, encoding="gbk",header=None,names=['s','c','d'])

df.head(10)

      s     c    d
0    id  name  age
1  1001    毛毛   45
2  1002    张三   15
3  1003    李四   10
4  1004    王五   21
5  1005    周六   33
6  1006    孙七   11

In [3]:
df.shape

(7, 3)

In [4]:
df.columns

Index(['s', 'c', 'd'], dtype='object')

In [5]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [6]:
df.dtypes

s    object
c    object
d    object
dtype: object

## series

In [7]:
s = pd.Series({ 'name':'maomao', 'age':12,  })
s.values

array(['maomao', 12], dtype=object)

In [8]:
s = pd.Series(['a','b','c','d'],index=['甲','乙','丙','丁'])
s

甲    a
乙    b
丙    c
丁    d
dtype: object

In [9]:
s[['甲','乙']]

甲    a
乙    b
dtype: object

## DataFrame
### 1、创建

In [10]:
df = pd.DataFrame({
    'name':[ 'tom','john','jack','bob' ],
    'age':[10,12,45,55,],
    'gender':[0,1,1,0]
})
df

   name  age  gender
0   tom   10       0
1  john   12       1
2  jack   45       1
3   bob   55       0

### 2、 查询列

In [11]:
df[['name','age']]

   name  age
0   tom   10
1  john   12
2  jack   45
3   bob   55

### 3、查询行
* loc[0:2] ：index 0和1，不包括2

In [12]:
df.loc[0]

name      tom
age        10
gender      0
Name: 0, dtype: object

In [13]:
df[1:3]

   name  age  gender
1  john   12       1
2  jack   45       1

## 查询数据
1. df.loc 根据行和列的标签值查询  既能查询又能覆盖写入
2. df.iloc 根据行和列的数字位置查询
3. df.where 
4. df.query

In [14]:
url = 'https://raw.githubusercontent.com/peiss/ant-learn-pandas/master/datas/beijing_tianqi/beijing_tianqi_2018.csv'
df1 = pd.read_csv(url)
df1.head()

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3  2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4  2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [15]:
df1.set_index('ymd',inplace=True)

In [16]:
df1.head()

           bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [17]:
# 修改数据——直接赋值
df1.loc[:,'bWendu'] = df1['bWendu'].str.replace('℃','').astype('int32')
df1.loc[:,'yWendu'] = df1['yWendu'].str.replace('℃','').astype('int32')

In [18]:
df1.dtypes

bWendu        int32
yWendu        int32
tianqi       object
fengxiang    object
fengli       object
aqi           int64
aqiInfo      object
aqiLevel      int64
dtype: object

### 1.单个label的查询

列或者行，都可以只传入单个值，精确匹配

In [19]:
# 单个值
df1.loc['2018-01-01','tianqi']

#所有行
df1.loc[:,'tianqi']

#某一行 
df1.loc['2018-01-01',]

bWendu          3
yWendu         -6
tianqi       晴~多云
fengxiang     东北风
fengli       1-2级
aqi            59
aqiInfo         良
aqiLevel        2
Name: 2018-01-01, dtype: object

### 2.loc的值是列表批量查询

In [20]:
#查询这三行
df1.loc[['2018-01-01','2018-01-02','2018-01-03']]

#查询这三行 的 bWendu 得到series
df1.loc[['2018-01-01','2018-01-02','2018-01-03'],'bWendu']

#查询这三行 的 bWendu 和 yWendu 得到DataFrame
df1.loc[['2018-01-01','2018-01-02','2018-01-03'],['bWendu','yWendu']]

            bWendu  yWendu
ymd
2018-01-01       3      -6
2018-01-02       2      -5
2018-01-03       2      -5

### 3.使用数值区间进行范围查询
区间既包含开始也包含结束

In [22]:
# 1号到8号 的行
df1.loc['2018-01-01':'2018-01-08']

#1号到8号 的'bWendu','yWendu'
df1.loc[:,['bWendu','yWendu']]

            bWendu  yWendu
ymd
2018-01-01       3      -6
2018-01-02       2      -5
2018-01-03       2      -5
2018-01-04       0      -8
2018-01-05       3      -6
...            ...     ...
2018-12-27      -5     -12
2018-12-28      -3     -11
2018-12-29      -3     -12
2018-12-30      -2     -11
2018-12-31      -2     -10

[365 rows x 2 columns]

In [23]:
#行和列 都是一样的

df1.loc['2018-01-01':'2018-01-08','bWendu':'aqi']

            bWendu  yWendu tianqi fengxiang fengli  aqi
ymd
2018-01-01       3      -6   晴~多云       东北风   1-2级   59
2018-01-02       2      -5   阴~多云       东北风   1-2级   49
2018-01-03       2      -5     多云        北风   1-2级   28
2018-01-04       0      -8      阴       东北风   1-2级   28
2018-01-05       3      -6   多云~晴       西北风   1-2级   50
2018-01-06       2      -5   多云~阴       西南风   1-2级   32
2018-01-07       2      -4   阴~多云       西南风   1-2级   59
2018-01-08       2      -6      晴       西北风   4-5级   50

### 4. 使用条件表达式
<b>bool列表的长度等于结果的行数或列数</b>

In [24]:
# 条件
conde = df1['bWendu']>35
conde

ymd
2018-01-01    False
2018-01-02    False
2018-01-03    False
2018-01-04    False
2018-01-05    False
              ...
2018-12-27    False
2018-12-28    False
2018-12-29    False
2018-12-30    False
2018-12-31    False
Name: bWendu, Length: 365, dtype: bool

In [25]:
df1.loc[conde]

            bWendu  yWendu  tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-06-01      36      21       晴       西南风   3-4级   72       良         2
2018-06-05      38      25      多云       西南风   4-5级   94       良         2
2018-06-06      36      25      多云        东风   1-2级  102    轻度污染         3
2018-06-24      36      25      多云        南风   3-4级   98       良         2
2018-06-26      36      25       晴       西南风   3-4级  174    中度污染         4
2018-06-27      37      25      多云       东北风   3-4级   54       良         2
2018-06-29      37      25       晴        南风   1-2级   59       良         2
2018-06-30      37      23  雷阵雨~多云       东南风   3-4级   81       良         2
2018-07-05      37      24  多云~雷阵雨       东南风   1-2级  104    轻度污染         3
2018-08-02      36      26    多云~晴        南风   1-2级  118    轻度污染         3
2018-08-03      36      26       晴        南风   1-2级   86       良         2
2018-08-04      36      27    晴~多云        南风   1-2级   96       良         2

In [26]:
df1.loc[(df1['bWendu'] < 27) & (df1['yWendu'] > 18) & (df1['aqiInfo'] == '良')  ]

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-05-17      25      19  小雨~多云        北风   1-2级   70       良         2
2018-09-11      26      19     多云        南风   1-2级   68       良         2

### 5. 使用函数查询

In [31]:
def query_good_day(df):
    return df.index.str.startswith('2018-02') & (df['aqiLevel'] > 2)

df1.loc[query_good_day]

# or 

df1.loc[lambda x : x.index.str.startswith('2018-02') & (x['aqiLevel'] > 2)]

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-02-16       8      -5   晴~多云       西南风   1-2级  118    轻度污染         3
2018-02-17       5      -4   多云~阴        南风   1-2级  103    轻度污染         3
2018-02-18       8      -3     多云        南风   1-2级  148    轻度污染         3
2018-02-19       6      -3     多云        南风   1-2级  183    中度污染         4
2018-02-26      12      -1   晴~多云       西南风   1-2级  157    中度污染         4
2018-02-27       7       0      阴        东风   1-2级  220    重度污染         5
2018-02-28       9      -2   多云~晴       西南风   3-4级  139    轻度污染         3

## 新增修改数据
### 1. 直接修改

In [32]:
#新增
df1.loc[:,'wencha'] = df1['bWendu'] - df1['yWendu']
df1.loc[:,'edit'] = df1['bWendu'] - df1['yWendu']
#修改
df1.loc[:,'edit'] = df1['edit'] + 0.1415926
df1.head()

,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wencha,edit
ymd,,,,,,,,,,
2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9,9.141593
2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7,7.141593
2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7,7.141593
2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8,8.141593
2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9,9.141593

### apply 方法
**apply() 接受一个函数和关键字参数axis = 0 or 1，函数默认参数是一个（行or列）的series**

In [33]:
def get_wendu_type(series):
    
    if series['bWendu'] > 33:
        return '高温'
    if series['bWendu'] < 13:
        return '低温'    
    return '正常'

df1.loc[:,'wendu_type'] = df1.apply(get_wendu_type,axis=1)
df1.head()

,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wencha,edit,wendu_type
ymd,,,,,,,,,,,
2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9,9.141593,低温
2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7,7.141593,低温
2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7,7.141593,低温
2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8,8.141593,低温
2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9,9.141593,低温

In [34]:
# 统计（计数）
df1['wendu_type'].value_counts()

正常    207
低温    129
高温     29
Name: wendu_type, dtype: int64

### assign() 方法
* assign(new_col1= fn(series))
* 不会修改原df ，而是返回新的df

In [39]:
new_df = df1.assign(
    b_huashi = lambda x : x['bWendu'] * 9 / 5 + 32,
    y_huashi = lambda x : x['yWendu'] * 9 / 5 + 32
)
new_df.head()

,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wencha,edit,wendu_type,b_huashi,y_huashi
ymd,,,,,,,,,,,,,
2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9,9.141593,低温,37.4,21.2
2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7,7.141593,低温,35.6,23.0
2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7,7.141593,低温,35.6,23.0
2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8,8.141593,低温,32.0,17.6
2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9,9.141593,低温,37.4,21.2

### 按条件新增或修改

In [45]:
df1['wencha_type'] = '' # 广播 ？ w为所有行都新增wencha_type 并值为 ‘’

df1.loc[df1['wencha'] > 15, 'wencha_type'] =  '温差大'
df1.loc[df1['wencha'] <= 15, 'wencha_type'] =  '温差正常'
df1['wencha_type'].value_counts()

温差正常    357
温差大       8
Name: wencha_type, dtype: int64