In [3]:
import pandas as pd

url = 'https://raw.githubusercontent.com/peiss/ant-learn-pandas/master/datas/beijing_tianqi/beijing_tianqi_2018.csv'
df = pd.read_csv(url)
df.head()

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3  2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4  2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [5]:
df.set_index('ymd',inplace=True)

           bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [7]:
df.loc[:,'bWendu'] = df['bWendu'].str.replace('℃','').astype('int32')
df.loc[:,'yWendu'] = df['yWendu'].str.replace('℃','').astype('int32')

# 统计

## 1、汇总类统计

In [10]:
#所有数字列的统计结果
df.describe()

           bWendu      yWendu         aqi    aqiLevel
count  365.000000  365.000000  365.000000  365.000000
mean    18.665753    8.358904   82.183562    2.090411
std     11.858046   11.755053   51.936159    1.029798
min     -5.000000  -12.000000   21.000000    1.000000
25%      8.000000   -3.000000   46.000000    1.000000
50%     21.000000    8.000000   69.000000    2.000000
75%     29.000000   19.000000  104.000000    3.000000
max     38.000000   27.000000  387.000000    6.000000

In [13]:
df['bWendu'].mean()
#标准差
df['bWendu'].std()
#max
df['bWendu'].max()

38

## 2、唯一去重和按值计数
### 2.1 唯一性去重
**枚举和分类，一般不用于数值**

In [18]:
df['tianqi'].unique()

array(['晴~多云', '阴~多云', '多云', '阴', '多云~晴', '多云~阴', '晴', '阴~小雪', '小雪~多云',
       '小雨~阴', '小雨~雨夹雪', '多云~小雨', '小雨~多云', '大雨~小雨', '小雨', '阴~小雨',
       '多云~雷阵雨', '雷阵雨~多云', '阴~雷阵雨', '雷阵雨', '雷阵雨~大雨', '中雨~雷阵雨', '小雨~大雨',
       '暴雨~雷阵雨', '雷阵雨~中雨', '小雨~雷阵雨', '雷阵雨~阴', '中雨~小雨', '小雨~中雨', '雾~多云',
       '霾'], dtype=object)

### 2.2 按值计数

In [24]:
df['tianqi'].value_counts()

晴         101
多云         95
多云~晴       40
晴~多云       34
多云~雷阵雨     14
多云~阴       10
阴~多云        8
小雨~多云       8
雷阵雨         8
雷阵雨~多云      7
小雨          6
多云~小雨       5
雷阵雨~中雨      4
阴           4
霾           2
中雨~雷阵雨      2
阴~小雨        2
中雨~小雨       2
阴~雷阵雨       1
阴~小雪        1
小雨~阴        1
小雨~雷阵雨      1
雷阵雨~阴       1
小雪~多云       1
大雨~小雨       1
小雨~中雨       1
小雨~雨夹雪      1
雷阵雨~大雨      1
小雨~大雨       1
雾~多云        1
暴雨~雷阵雨      1
Name: tianqi, dtype: int64

### 3、相关系数和协方差

#### 用途：1两只股票同涨同跌，程度是多少。2产品销量和哪些因素相关
#### 协方差：衡量两个变量同向反向程度，为正数说明同向变化，数值越大同向程度越高
#### 相关系数：衡量相似程度，为1时两个变量正向相似度最大，为-1时反向相似度最大

In [25]:
#协方差
df.cov()

              bWendu      yWendu          aqi   aqiLevel
bWendu    140.613247  135.529633    47.462622   0.879204
yWendu    135.529633  138.181274    16.186685   0.264165
aqi        47.462622   16.186685  2697.364564  50.749842
aqiLevel    0.879204    0.264165    50.749842   1.060485

In [28]:
# 相关系数
df.corr()

            bWendu    yWendu       aqi  aqiLevel
bWendu    1.000000  0.972292  0.077067  0.071999
yWendu    0.972292  1.000000  0.026513  0.021822
aqi       0.077067  0.026513  1.000000  0.948883
aqiLevel  0.071999  0.021822  0.948883  1.000000

In [29]:
df['aqi'].corr(df['aqiLevel']) ## 正相关

50.749841938883044

In [31]:
df['bWendu'].cov(df['aqiLevel'])

0.8792036730392899