In [1]:
import pandas as pd

url = 'https://github.com/peiss/ant-learn-pandas/blob/master/datas/student_excel/student_excel.xlsx?raw=true'

df = pd.read_excel(url,skiprows=2)
df

    Unnamed: 0   姓名   科目    分数
0          NaN   小明   语文  85.0
1          NaN  NaN   数学  80.0
2          NaN  NaN   英语  90.0
3          NaN  NaN  NaN   NaN
4          NaN   小王   语文  85.0
5          NaN  NaN   数学   NaN
6          NaN  NaN   英语  90.0
7          NaN  NaN  NaN   NaN
8          NaN   小刚   语文  85.0
9          NaN  NaN   数学  80.0
10         NaN  NaN   英语  90.0

# 1、检测空值 isna notna

In [2]:
df.isna()
df['分数'].isna()

0     False
1     False
2     False
3      True
4     False
5      True
6     False
7      True
8     False
9     False
10    False
Name: 分数, dtype: bool

In [3]:
df.notna()
df.loc[df['科目'].notna()]

    Unnamed: 0   姓名  科目    分数
0          NaN   小明  语文  85.0
1          NaN  NaN  数学  80.0
2          NaN  NaN  英语  90.0
4          NaN   小王  语文  85.0
5          NaN  NaN  数学   NaN
6          NaN  NaN  英语  90.0
8          NaN   小刚  语文  85.0
9          NaN  NaN  数学  80.0
10         NaN  NaN  英语  90.0

# 2、删除空值 dropna

In [4]:
df.dropna(axis='columns',how='all',inplace=True)
df.dropna(axis='index',how='all',inplace=True)

In [5]:
# df['分数'] = df['分数'].fillna(22)
df.fillna({ '分数':0 },inplace=True)

In [10]:
df['姓名'] = df['姓名'].fillna(method='ffill')

In [14]:
df.to_excel('../datasource/stu_clean.xlsx',index=False)